@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  max-width: 275px;
  max-height: 450px;
  min-height: 450px;
}

::-webkit-scrollbar {
  display: none;
}
